google-genai
requests
curl_cffi
gradio_client
pillow
numpy
torch
torchaudio
soundfile
pydub
scipy
librosa
pyloudnorm
pyrubberband
pedalboard
faster-whisper
python-dotenv
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
selenium
seleniumbase
undetected-chromedriver
git+https://github.com/m-bain/whisperx.git
